@{
    Layout = "_Layout";
    var courses = (ViewBag.Courses as List<CourseReturnDto>);
    var actionName = "";
    switch (ViewData["For"])
    {
        case "scores":
            actionName = "Scores";
            break;
        case "attendances":
            actionName = "Attendances";
            break;
        // Add cases for post action name;
    }
}
@model DateModel

<div class="container">
    <div class="jumbotron">
        <h1>Select date to load @ViewData["For"]</h1>
        <form asp-action="@actionName" asp-controller="Students" method="post">
            <div class="form-group">
                <label for="ForId">Course</label>
                <select name="ForId" id="ForId" class="form-control">
                    <option value="@Guid.Empty">Choose</option>
                    @foreach (var course in courses)
                    {
                        <option value="@course.Id">@course.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label for="StartDate">From: </label>
                <input type="date" name="StartDate" value="2019-09-15" id="StartDate">
            </div>
            <div class="form-group">
                <label for="FinishDate">Until: </label>
                <input type="date" name="FinishDate" value="2021-06-14" id="FinishDate">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
